body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
    background-color: bisque;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border-radius: 5vh;
    position: relative;
    overflow: hidden;
}

.players .apagar, .players .photo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.players .apagar {
    left: 2vh;
}

.players .photo {
    right: 2vh;
}

.players .apagar:hover {
    background-color: black;
    color: white;
}

.players .photo:hover {
    background-color: black;
    color: white;
}

.equipa1, .equipa2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipa1 span, .equipa2 span {
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red; /* Default color, will change via JS */
    color: white;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.equipa1 span:hover, .equipa2 span:hover {
    background-color: darken(red, 10%); /* Altere para a cor de hover desejada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao redor do span */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

.equipa1 span {
    background-color: red;
}

.equipa2 span {
    background-color: green;
}


.tabua {
    display: flex;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.campo {
    width: 70%;
    height: 85vh;
    margin-left: 1vh;
    margin-top: 1vh;
    background-color: burlywood;
    overflow: hidden;
    position: relative;
}

.campo canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.botoes {
    flex-direction: column;
    width: 30%;
    height: 85vh;
    border-radius: 5vh;
    margin-top: 1vh;
    background-color:darkgoldenrod;
    margin-right: 1vh;
}

#editModeButton {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* Necessário para centralizar no Flexbox */
}

#editModeButton.active {
    background-color: #ff4d4d;
    color: white;
}

#editModeButton.inactive {
    background-color: #4dff4d;
    color: black;
}

#editModeButton:hover {
    background-color: #ccc;
    color: black;
}